<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>show-status</string>
            <key>Image File</key>
            <string>noteplan.png</string>
            <key>Script Interpreter</key>
            <string>/usr/bin/ruby</string>
            <key>Shell Script File</key>
            <string>noteplan.rb</string>
            <key>Title</key>
            <string>NotePlan</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>journal</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Label</key>
			<string>Journal: </string>
			<key>Option Default Value</key>
			<string>Today</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>user</string>
			<key>Option Type</key>
			<string>string</string>
			<key>Option Label</key>
			<string>User Name:</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
	    <dict>
	        <key>Name</key>
	        <string>Richard Guay</string>
	        <key>Link</key>
	        <string>http://customct.com</string>
	    </dict>
	</array>
	<key>Extension Description</key>
	<string>Paste note to a journal/today in NotePlan.</string>
	<key>Extension Identifier</key>
	<string>com.customct.popclip.extension.noteplan</string>
	<key>Extension Name</key>
	<string>NotePlan</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
